{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/static/styles/styles.css">
	<title>Lioooooon rawr</title>
</head>
<body>
	{{ template "video-background" . }}
	{{ template "header" . }}
    <p>bob</p>
	<section class="p-(--px24) sm:p-(--px32) md:p-(--px64)">
		{{ template "post" . }}
	</section>
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</body>
</html>
{{end}}