{{ define "search-bar" }}
    <form id="filters" class="relative w-full max-w-[300px] flex flex-row justify-center"  method="GET" action="/">
            <button class="absolute top-0 left-0 translate-x-[110%] translate-y-[50%]" type="submit">
                {{ template "search-icon" }}
            </button>
            
            <input class="input-h w-full pr-(--px24) pl-[50px] py-(--px8) sharp-borders flex flex-row" type="text" name="search" placeholder="Search.." />
    </form>
    <form method="POST" action="/post">
            <input type="text" name="title" placeholder="your title here.." />
            <input type="text" name="body" placeholder="your body here.." />
            <input type="submit" placeholder="bob" />
            
    </form>
{{ end }}

{{ define "side-filters" }}
<aside>
    {{ template "you"  . }}
    {{ template "authors" . }}
</aside>
{{ end }}

{{ define "you" }}
<!-- class="{{ if .Profile.ID }}visible{{ else }}hidden{{ end }}" -->
<div>
    <input type="checkbox"  id="posts" name="posts" form="filters" value="Posts"/>
    <label for="posts">Posts</label>
    <input type="checkbox"  id="likes" name="likes" form="filters" value="Likes"/>
    <label for="likes">Likes</label>
</div>
{{ end }}

{{ define "authors" }}
<input id="author-search" type="text" onkeyup="simpleSearch()" placeholder="Search" />

<ul id="author-list">
{{ range .Categories }}
{{ if eq .Type "authors" }} 
<li data-name="{{ .Category }}">
    <input type="checkbox" id="category-{{ .ID }}" name="category" form="filters" value="{{ .ID }}"/>
    <label for="category-{{ .ID }}">{{ .Category }}</label> 
</li>
{{ end }}
{{ end }}
</ul>

{{ end }}
