{{ define "post" }}
    {{ range .FrontPage.Posts }}
    <div>
        <div>
            {{ template "profile-pic" .Poster }}
            <div>
                <h4>{{ .Poster.Username }}</h4>
                <p>{{ elapsed .Created }}</p>
            </div>
            <div>
                {{ range .Categories }}
                    <span>
                        {{ . }}
                    </span>
                {{ end }}
            </div>
        </div>
        <div>
            {{ .Image }}
        </div>
        <div>
            <h3>{{ .Title }}</h3>
            <p>{{ truncate .Body 40 }}</p>
            <div>
                <div>
                    {{ template "thumb-up" }}
                    <p>{{ len .PostLikers }}</p>
                </div>
                <div>
                    {{ template "thumb-down" }}
                    <p>{{ len .PostDislikers }}</p>
                </div>
                <div>
                    {{ template "comment" }}
                    <p>{{ len .Comments }}</p>
                </div>
            </div>
        </div>
    
        {{ range .Comments }}
            <p>{{ .Commenter.Username }}: {{ .Body }}</p>
            <p>{{ len .CommentLikers }} / {{ len .CommentDislikers }}</p>
        {{ end }}
    </div>
    {{ end }}
{{ end }}