{{ define "post" }}
    {{ range $post := .Posts }}
    <div class="post-frame">
        {{ template "post-borders" . }}
        <div class="pf-content">
        <div>
            {{ template "profile-pic" .Poster }}
            <div>
                <h4>{{ .Poster.Username }}</h4>
                <p>{{ elapsed .Created }}</p>
            </div>
            <div>
                {{ range .Categories }}
                    <span>
                        {{ . }}
                    </span>
                {{ end }}
            </div>
        </div>
        <div>
            {{ .Image }}
        </div>
        <div>
            <h3>{{ .Title }}</h3>
            <p>{{ truncate .Body 40 }}</p>
            <div>
                <form method="POST" action="/posts/{{ $post.ID }}/vote">
                    <button name="vote" value="1">{{ template "thumb-up" }}{{ len .PostLikers }}</button>
                    <button name="vote" value="-1">{{ template "thumb-down" }}{{ len .PostDislikers }}</button>
                    <input type="hidden" name="redirect" value="{{ $.Query }}" />
                </form>
                <div>
                    {{ template "comment" }}
                    <p>{{ len .Comments }}</p>
                </div>
            </div>
        </div>

        {{ range $comment := $post.Comments }}
           <p>{{ $comment.Commenter.Username }}: {{ $comment.Body }}</p>

           <form method="POST" action="/comments/{{ $comment.ID }}/vote">
                <button name="vote" value="1">{{ template "thumb-up" }}{{ len $comment.CommentLikers }}</button>
                <button name="vote" value="-1">{{ template "thumb-down" }}{{ len $comment.CommentDislikers }}</button>
                <input type="hidden" name="redirect" value="{{ $.Query }}" />
           </form>
        {{ end }}
        </div>
    </div>
    {{ end }}
{{ end }}

{{ define "create-post" }}
    <form method="POST" action="/post">
            <input type="text" name="title" placeholder="your title here.." />
            <input type="text" name="body" placeholder="your body here.." />
            <input type="submit" placeholder="bob" />     
    </form>
{{ end }}